<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>

</head>
<body>

<section>
    <div class="container">
        <h1>Request Sent</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Book Title</th>
                <th>User</th>
                <th>Due Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="loan : ${loans}">
                <td th:text="${loan.book.title}"></td>
                <td th:text="${loan.user.username}"></td>
                <td th:text="${loan.dueDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

</body>
</html>
